$bodyLeftRightPadding: 30rem;

// dark mode
$bodyPrimaryColor: #202023;
$textPrimaryColor: #EEEEEE;
$textSecondaryColor: #FFEEE7;

//light mode
$bodyLightModeColor: #F0E7DB;
$textLightModeColor: #202023;